dt {
  font-weight: bold;
  font-style: italic;
  color: #B22222;
  font-size: 1.1em;
}

.auteur-intro {
  font-style: italic;
  margin: 1em;
  margin-left: 10em;
  text-align: right;
  color: #696969;
  text-indent: 0;
}

.intro {
  color:blue;
}

